@import "~bootstrap/dist/css/bootstrap.min.css";

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer {
    height: 50px;
    background-color: lightgray;
    color: black;
    text-align: center;
}