@import "~bootstrap/dist/css/bootstrap.min.css";

.body-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main {
    flex: 1;
    overflow-y: auto;
}

.spinner {
    animation: spin 1s infinite linear;
}